body {
  color: yellow;
  background: #222;
  text-align: center;
}
.title {
  font-size: 30px;
  text-shadow: 2px 2px black;
}

h2{
  color: #fff
}

img {
  max-width: 100%;
}

.card {
  background:#000;
  margin-top: 45px;
}
.card-header {
  padding: 16px 0;
}

.btn {
  margin-bottom: 16px;
}